* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C0C0C;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
    min-height: 100vh;
}

.containerTarefas {
    min-width: 50%;
}

.assinaturaImg {
    position: absolute;
    top: 10px;
    height: 36px;
    width: 140px;
    filter: brightness(0) invert(1);
}

h1 {
    color: #602cb5;
    font-size: 4rem;
}

.containerTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;

    button {
        background-color: #0C0C0C;
        border: none;
    }

    img {
        height: 50px;
        transition: all ease 0.4s;
    }

    img:hover {
        scale: 1.3;
        cursor: pointer;
    }

}

.quadro-tarefas {
    border: solid 5px #602cb5;
    background-color: rgb(240, 229, 229);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    min-width: 50%;
    min-height: 400px;
}

.header-quadro-tarefas {
    width: 100%;
    color: #FFFAFA;
    font-size: 2rem;
    padding: 12px 0px;
    background-color: #602cb5;
    text-align: center;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animar-entrada {
    animation: popIn 0.25s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

.input-editar {
    padding: 6px 8px;
    border-radius: 6px;
    width: 80%;
    font-size: 1rem;
    outline: none;
    font-family: "Quando", serif;
    font-weight: 500;
    font-style: normal;
}

.input-editar:focus {
    border-color: #602cb5;
}

.card-tarefa {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border: solid 3px #602cb5;
    background-color: #602cb5;
    border-radius: 10px;
    color: #FFFAFA;
    transition: transform 0.2s ease;

    input[type="checkbox"] {
        cursor: pointer;
    }

    #editarTarefa {
        background-color: rgb(20, 228, 255);
        border: none;
        border-radius: 2px;
        padding: 4px;
        cursor: pointer;
        transition: all 0.4s ease;

        img {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: rgb(7, 154, 173);
        }
    }

    #excluirTarefa {
        background-color: rgb(255, 20, 51);
        border: none;
        border-radius: 2px;
        padding: 4px;
        cursor: pointer;
        transition: all 0.4s ease;

        img {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: rgb(148, 5, 5);

        }
    }

}

.contagemTarefas {
    margin-top: 20px;
    background-color: rgb(240, 229, 229);

    border-radius: 20px;
    border: solid 5px #602cb5;
    padding: 0px;
}

.contagemTarefas-header {
    background-color: #602cb5;
    font-size: 1.6rem;
    color: #FFFAFA;
    text-align: center;
    padding: 12px 0px;
}

.contagemTarefas-body {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: #FFFAFA;
    height: 40px;

    .tarefasRealizadas {
        background-color: rgb(22, 143, 22);
        width: 50%;
        border-radius: 0px 0px 0px 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tarefasNaoCompletadas {
        background-color: rgb(190, 14, 14);
        width: 50%;
        border-radius: 0px 0px 13px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}